.container .content-wrapper {
    display: -webkit-flex;
    display: flex;

    -webkit-justify-content: center;
    justify-content: center;
    background: green;
}

.container .content-wrapper .content-block-wrapper {
    width: 33%;
    background: lightgray;
    padding: 20px;
    cursor: pointer;
}

.container .content-wrapper .content-block-wrapper .content-block {
    background: #fff;
}

.container .content-wrapper .content-block-wrapper .content-block .title {
    display: -webkit-flex;
    display: flex;
    background: lightgray;
    text-transform: uppercase;
}

.container .content-wrapper .content-block-wrapper .content-block .title .title-block {
    width: 50%;
    text-align: center;
    height: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.container .content-wrapper .content-block-wrapper .content-block .title .title-block.selected {
    background: #fff;
    border-top: 1px solid grey;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    border-bottom: 0;
    color: crimson;
}

.container .content-wrapper .content-block-wrapper .content-block .title .title-block:not(.selected) {
    border-bottom: 1px solid grey;
}

.container .content-wrapper .content-block-wrapper .content-block .title .title-block .number {
    font-size: 50px;
}

.container .content-wrapper .content-block-wrapper .content-block .title .title-block .type {
    font-size: 14px;
}

.container .content-wrapper .content-block-wrapper .content-block .list {
    background: #fff;
}

.container .content-wrapper .content-block-wrapper .content-block .list .list-item {
    padding: 15px 0 15px 25px;
}

.container .content-wrapper .content-block-wrapper .content-block .list .list-item,
.container .content-wrapper .content-block-wrapper .content-block .show-more {
    border-bottom: 1px solid grey;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}

.container .content-wrapper .content-block-wrapper .content-block .list .list-item:hover {
    background: lightgray;;
    border-left: 3px solid darkmagenta;
}

.container .content-wrapper .content-block-wrapper .content-block .show-more {
    padding: 5px 10px 5px 5px;
    text-align: right;
}

.container .content-wrapper .content-block-wrapper .content-block .show-more::after {
    content: "V";
}

.container .nav-wrapper {
    text-transform: uppercase;
    font-weight: 900;

    display: -webkit-flex;
    display: flex;
}

.container .nav-wrapper a {
    display: inline-block;
    margin-left: 10px;
    margin-right: 30px;
    height: 24px;
    cursor: pointer;
}

.container .nav-wrapper a.selected {
    border-bottom: 3px solid green;
}